/* Hero Section */
.hero-section {
  background: url('https://payload.cargocollective.com/1/11/367710/13568488/CINEMA-CLASSICS-POSTER_RUTGERS_3600.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero-section h1 {
  color: red; /* Make the heading text red */
  font-size: 3rem; /* Increase font size for emphasis */
  font-weight: bold;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.yellow-button {
  background-color: #ffc107; /* Make the button yellow */
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  color: #000; /* Black text for contrast */
}

.yellow-button:hover {
  background-color: #e0a800; /* Darker yellow on hover */
  color: #000;
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #343a40;
  color: #fff;
}

footer p {
  margin: 0;
}

footer .nav-link {
  color: #ccc; /* Light gray for links */
}

footer .nav-link:hover {
  color: #fff;
}

/* Custom Card Styles */
.card-body-custom {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/443/241/271/art-collage-digital-fan-wallpaper-preview.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
