

.transparent-div {
    background-color: rgba(255, 255, 255, 0);
  }

  .transparent-card {
    
    background-color: rgba(255, 255, 255, 0.7); /* Adjust transparency as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: To add a subtle shadow */
  }
  